.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 32px 16px 0 16px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

h1.title {
  margin-bottom: 35px;
  color: #f9f4f2;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
}

form input {
  all: unset;
  margin-bottom: 20px;
  padding: 8px 10px;
  font-size: 16px;
  color: #f9f4f2;
  background-color: #412103;
  outline: none;
  text-align: left;
  border-radius: 2px;
  border: 2px dashed #101010;
  box-shadow: 0 0 0 5px #412103, 1px 1px 4px 6px #000;
}

form input::placeholder {
  color: #111;
  opacity: 1;
}

.result {
  height: 300px;
  text-align: center;
  margin-bottom: 30px;
}

.result h2.loading {
  color: #f9f4f2;
  margin-top: 10px;
}

.result h2.house {
  margin-top: 20px;
  white-space: nowrap;
  border: 2px dashed #000000;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 0 5px #311800, 1px 1px 4px 6px #100101;
  padding: 8px 10px;
}

div.result img {
  margin-top: 25px;
}

.black {
  color: black;
}

.green {
  color: darkgreen;
}

.orange {
  color: #b18809;
}

.red {
  color: darkred;
}

.blue {
  color: darkblue;
}

.generalBtn {
  margin: 10px;
  padding: 10px 15px;
  display: inline-block;
  color: #1c1c1c;
  font: bold 16px;
  text-align: center;
  text-decoration: none;
  border: 2px dashed #101010;
  border-radius: 0 6px;
  transition: all 0.2s;
}

.generalBtn:hover {
  text-decoration: none;
  border-radius: 6px 0;
}

.copperBtn {
  background-color: #412103;
  box-shadow: 0 0 0 5px #412103, 1px 1px 4px 6px #000;
  color: #ff9000;
}

.appendMovingDots:after {
  content: ' .';
  animation: dots 3s steps(1, end) infinite;
}
@keyframes dots {
  0%,
  12.5% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    text-shadow: 0.5em 0;
  }
  50% {
    text-shadow: 0.5em 0, 1em 0;
  }
  62.5% {
    text-shadow: 0.5em 0, 1em 0, 1.5em 0;
  }
  75% {
    text-shadow: 0.5em 0, 1em 0, 1.5em 0, 2em 0;
  }
  87.5%,
  100% {
    text-shadow: 0.5em 0, 1em 0, 1.5em 0, 2em 0, 2.5em;
  }
}

.langSelector {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.langSelector button {
  margin-right: 10px;
  text-decoration: none;
  color: #f9f4f2;
}

.langSelector button:hover {
  color: #ccc9c7;
}
